<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
    <p><b>Телеграм канал</b></p>
    <p><a href="https://t.me/help_ot_news" target="_blank">Подписывайтесь на мой канал</a>, чтобы быть всегда вкурсе последних обновлений!</p>
</div>
<script src="{{ '/assets/js/custom-search.js' | relative_url }}"></script>
<script src="{{ '/assets/js/libs/jquery-3.7.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/libs/jquery.magnific-popup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>