---
layout: default
---

{% assign data = site.data[page.data_file] %}

<div class="profession">
    <h1>Профессия {{ page.title }}</h1>

    <a href="{{ page.return_url }}" class="return-link">← Назад в раздел</a>

    <div class="meta-info">
        <p><strong>№ выпуска ЕТКС:</strong> <a href="/{{ data[0].release_id }}/">{{ data[0].title }}</a><br>
       <strong>Документ:</strong> {{ data[0].npa }}<br>
        <strong>Раздел:</strong> <a href="{{ page.return_url }}">{{ page.section }}</a></p>
    </div>

    <h2>Тарифно-квалификационные характеристики</h2>

    {% for rank in page.ranks %}
    <div class="rank">
        <h3>Разряд {{ rank.level }}</h3>

        <div class="job">
            <h5>Характеристика работ:</h5>
            <div class="text-content">
                {{ rank.job | markdownify }}
            </div>
        </div>

        <div class="must-able">
            <h5>Должен уметь:</h5>
            <div class="text-content">
                {{ rank.must_able | markdownify }}
            </div>
        </div>
        {% if rank.education != empty %}
        <div class="education">
            <h5>Образование:</h5>
            <div class="text-content">
                {{ rank.education | markdownify }}
            </div>
        </div>
        {% endif %}
        {% if rank.work_examples != empty %}
        <div class="work_examples">
            <h5>Примеры работ:</h5>
            <div class="text-content">
                {{ rank.work_examples | markdownify }}
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>