---
layout: default
---

{% assign data = site.data[page.data_file] %}

<h1>ЕТКС - {{ data[0].title }}</h1>
Документ: {{ data[0].npa }}
<div class="section">
{% for section in data[0].sections %}
<h2>{{ section.name }}</h2>

<ul>
    {% for profession in section.professions %}
    <li>
        <a href="/{{ data[0].release_id }}/{{ section.section_id }}/{{ profession.slug }}/">
            {{ profession.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
<p>
    <a href="/{{ data[0].release_id }}/" class="return-link">← Вернуться</a>
</p>
</div>